# Environment Variables
.env

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
ENV/

# Build / Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

karnataka_yield_model.pkl

